//COLORS
$color-primary: #2c666e;
$color-tertiary: #07393c;
$color-info: #90DDF0;

$color-black: #0a090c;
$color-grey: #f0edee;


$color-secondary-dark: #07393c;
$color-secondary-light: #90DDF0;

$color-primary-light: #90DDF0;
$color-primary-dark: #294b53;


$color-tertiary-light: #07393c;
$color-tertiary-dark: #07393c;

// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 4rem;